:root {

/* Colors: */
--text-border-color: #BECBE8;
--unnamed-color-b0bac9: #B0BAC9;
--unnamed-color-2fb984: #2FB984;
--unnamed-color-e84252: #E84252;
--unnamed-color-1663ff: #1663FF;
--unnamed-color-ff5340: #FF5340;
--unnamed-color-43c5e4: #43C5E4;
--unnamed-color-2e374d: #2E374D;

/* Font/text values */
--unnamed-font-family-montserrat: Montserrat;
--unnamed-font-style-normal: normal;
--unnamed-font-weight-600: 600;
--unnamed-font-weight-bold: bold;
--unnamed-font-weight-normal: normal;
--unnamed-font-weight-medium: 500;
--unnamed-font-size-11: 0.6875em;
--unnamed-font-size-12: 0.75em;
--unnamed-font-size-14: 0.9em;
--unnamed-font-size-18: 1.1em;
--unnamed-font-size-24: 1.5em;
--unnamed-font-size-36: 2.25em;
--unnamed-font-size-44: 2.75em;
--unnamed-font-size-64: 4em;
--unnamed-font-size-72: 4.5em;
--unnamed-character-spacing-0: 0;
--unnamed-line-spacing-15: 1;
--unnamed-line-spacing-26: 1.25;
--unnamed-line-spacing-36: 1.5;
--unnamed-line-spacing-64: 1.75;
--unnamed-line-spacing-74: 2;
--unnamed-line-spacing-82: 2.25;
--unnamed-text-transform-titlecase: titlecase;
}

body {
  margin: 0;
  padding-top: 5.25rem;
  position: relative;
  background-color: #F8F9FC;
  font-family: ProximaNova;
}

@media screen and (max-width: 769px) {
  body {
    font-size: 12px;
  }
}
header, section, footer {
  padding-left: 6em;
  padding-right: 6em;
}

@media screen and (max-width: 769px) {
  header, section, footer {
    padding-left: 1em;
    padding-right: 1em;
  }
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 5.25rem;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 14px #0073FF1A;
  z-index: 100;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
  align-content: start;
}

header:after {
  display: block;
  content: "";
  margin: 7px;
  flex: 999 999 auto;
}

header .header-column {
  flex: 0 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}

header .logo {
  width: 3.5rem;
  flex: 1 1 auto;
}

header .logo-text {
  font-weight: bold;
  font-size: 1em;
  color: #2e374d;
}

header img {
  width: 100%;
  height: auto;
}

header .pipe {
  background: #d9e5ff;
  margin-left: 1.5rem;
  margin-right: 1.25rem;
  height: 100%;
  width: .15rem;
}


footer {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  height: 5.25rem;
}

footer div {
  display: inline-block;;
  width: 49%;
}

footer p {
  line-height: 5.25rem;
  margin: 0;
  color: #363636;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/5.25rem ProximaNova;
}

footer .center {
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #363636;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/5.25rem ProximaNova;
  letter-spacing: var(--unnamed-character-spacing-0);
  margin-right: 1.7em;
}

footer a:hover {
  color: #0073ff;
}

@media screen and (max-width: 769px) {
  footer {
    padding-top: 1em;
  }
  footer div {
    display: block;
    width: 100%;
  }
  footer p {
    line-height: 2;
    margin: 0;
  }
  footer a {
    display: block;
    line-height: 2;
  }
  footer .center {
    text-align: left;
  }
}

h2 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-36)/var(--unnamed-line-spacing-64) var(--unnamed-font-family-montserrat);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-2e374d);
  text-align: left;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

.copy {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 1em/var(--unnamed-line-spacing-26) var(--unnamed-font-family-montserrat);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  color: #575E72;
  margin-bottom: 2em;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.column {
  flex: 1 1 50%;
}
@media screen and (max-width: 769px) {
  .column {
    flex: 1 1 100%;
  }
}
.vcenter {
  display: flex;
  align-items: center;
}
.nowrap {
  white-space: nowrap;
}
.vtop {
  vertical-align: top;
}
.hidden {
  display: none !important;
}

.underscore_double {
  border-top: 2px solid #FF939D;
  width: 25%;
}

.underscore_single {
  border-top: 1px solid #EF3C4D;
  width: 15%;
}

#hero, #tools, #integrations, #faqs, #testimonials {
  position: relative;
}

#logo {
  width: 12vh;
  height: 100%;
}
#logo img {
  width: 100%;
  height: auto;
}

/*******************************************************************************
 * Hero
 ******************************************************************************/
#hero .content {
  padding-right: 2em;
}
#hero h1 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-26) var(--unnamed-font-family-montserrat);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  color: #EF3C4D;
}

#hero .copy {
  font-size: var(--unnamed-font-size-18);
}

#hero .slogan {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-44)/var(--unnamed-line-spacing-26) var(--unnamed-font-family-montserrat);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-2e374d);
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 0.5em;
}

#screenshots {
  margin-bottom: 14vh;
  text-align: right;
}

@media screen and (max-width: 769px) {
  #screenshots {
    margin-bottom: 3vh;
  }
}

#protein_container {
  position: relative;
  width: 73.8%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 6px 0px 99px #2E374D26;
  border-radius: 8px;
  padding: 1em;
  box-sizing: border-box;
  display: inline-block;
  margin-top: 4vh;
  z-index: 1;
}


#code_container {
  position: relative;
  width: 73.8%;
  background: #151516 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 64px #0000001A;
  border-radius: 8px;
  padding: 1em;
  box-sizing: border-box;
  display: inline-block;
  margin-top: -30vh;
  margin-right: 15vh;
  z-index: -1;
}

#protein_container img, #code_container img {
  width: 100%;
}

/*******************************************************************************
 * Tools
 ******************************************************************************/
#tools {
  background: #F8F9FC 0% 0% no-repeat padding-box;
  border-radius: 4px;
  margin-bottom: 2em;
}

#tools_options button {
  border: 1px solid #D5DEFF;
  border-radius: 4px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/1em ProximaNova;
  text-align: left;
  letter-spacing: 0.22px;
  color: #575E72;
  padding: 8px 16px 7px 16px;
  margin-right: 1em;
}

#tools_options button.active {
  background: #0073FF 0% 0% no-repeat padding-box;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/1em ProximaNova;
  color: #FFFFFF;
  margin-bottom: 1em;
}

.tools_list {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #E6F1FF;
  border-radius: 4px;
  width: 100%;
  border-collapse: collapse;
}

.tools_list th {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-26) ProximaNova;
}

.tools_list td {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 1em/var(--unnamed-line-spacing-26) ProximaNova;
}
.tools_list td,  .tools_list  th {
  padding: 1em 2em 1em 2em;
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-2e374d);
  text-align: left;
  border-bottom: 1px solid #E6F1FF;
}

.tools_list .links {
  white-space: nowrap;
}

.tools_list thead th {
  border-bottom: 1px solid var(--text-border-color);
}

.tools_list a {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 1em/var(--unnamed-font-size-18) var(--unnamed-font-family-montserrat);
  letter-spacing: 0.26px;
  color: #0073FF;
  text-decoration: none;
}

.tools_list a.delim::after {
  content: "";
  border-left: 1px solid var(--text-border-color);
  margin-left: 1em;
  margin-right: 1em;
}

@media screen and (max-width: 769px) {

	/* Force table to not be like tables anymore */
	.tools_list, .tools_list thead, .tools_list tbody, .tools_list th, .tools_list td, .tools_list tr {
		display: block;
    background-color: inherit;

    border-width: 0;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	.tools_list thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

  .tools_list tr {
    background-color: #ffffff;
    margin-bottom: 1em;
    border-top: 1px solid #e6f1ff;
  }


	.tools_list td {
		/* Behave  like a "row" */
		border: none;
		position: relative;
		padding-left: 30%;
    border-right: 1px solid #E6F1FF;
    border-left: 1px solid #E6F1FF;
    border-bottom: 1px solid #E6F1FF;
	}

	.tools_list td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		left: 6px;
		width: 65%;
		padding-right: 10px;
		white-space: nowrap;
    font-weight: bold;
	}

	/*
	Label the data
	*/
	.tools_list td:nth-of-type(1):before { content: "Name"; }
	.tools_list td:nth-of-type(2):before { content: "Description"; }
	.tools_list td:nth-of-type(3):before { content: " "; }
}

/*******************************************************************************
* Integrations
*******************************************************************************/
#integrations {
  background: #F8F9FC 0% 0% no-repeat padding-box;
  border-radius: 4px;
  padding-bottom: 3vh;
}

#integrations h3 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-64) var(--unnamed-font-family-montserrat);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-2e374d);
}

#integrations .card {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 4px;
  width: 31%;
  padding: 0 1em 2em 1em;
  box-sizing:border-box;
  text-decoration: none;
  margin-bottom: 1em;
}

@media screen and (max-width: 769px) {
  #integrations .card {
    width: 100%;
  }
}

#integrations .card:hover {
  box-shadow: 0px 0px 44px #0073FF1A;
}

#integrations .card img {
  width: 20%;
  vertical-align: middle;
  margin-right: 1em;
}

#integrations .spacer-card {
  width: 31%;
}

#integrations .card-link {
  text-align: right;
}

/*******************************************************************************
* Testimonials
*******************************************************************************/

#testimonials {
  padding-bottom: 6vh;
  margin-bottom: 3vh;
  overflow-x: hidden;
  position: relative;
  background-color: #fff;
  display: none;
}

#testimonials h4 {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-24)/var(--unnamed-line-spacing-26) var(--unnamed-font-family-montserrat);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-2e374d);
}

#testimonials .slogan {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-36)/var(--unnamed-line-spacing-26) var(--unnamed-font-family-montserrat);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-2e374d);
}

#testimonials .content {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 1em/var(--unnamed-font-size-24) var(--unnamed-font-family-montserrat);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-2e374d);
}

.indicators div {
    border-top: 4px solid #D9E5FF;
    width: 1em;
    margin-right: 4px;
    display: inline-block;
    border-radius: 2px;
}

.indicators div.active {
  width: 2em;
  border-top: 4px solid #0073FF;
}

#testimonials .carousel {
  width: 10000px;
}

#testimonials .carousel .nav {
  width: 30vw;
  display: inline-block;
  background: #FFFFFF;
  z-index: 10;
}

#testimonials .carousel .buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  align-content: stretch;
}

#testimonials .carousel .buttons div {
  flex: 0 0 auto;
  width: 2em;
  height: 2em;
  margin-right: 1.5em;
  border-radius: 50%;
  padding: 0.8em;
  cursor: pointer;
}

#testimonials .carousel .buttons div svg {
  width: 100%;
  height: 100%;
}

#testimonials .carousel .buttons div.left {
  background-color: #EBF4FF;
  color: var(--unnamed-color-2e374d);
}

#testimonials .carousel .buttons div.right {
  background-color: #0073FF;
  color: #fff;
}

#testimonials .carousel .buttons  img {
  width: 1em;
  height: auto;
  filter: invert(18%) sepia(39%) saturate(513%) hue-rotate(185deg) brightness(93%) contrast(90%);
  jfilter: invert(100%) sepia(0%) saturate(7416%) hue-rotate(30deg) brightness(117%) contrast(101%);
}

#testimonials .carousel .item {
  position: relative;
  width: 40vw;
  display: inline-block;
  border: 1px solid #CCE3FF;
  border-radius: 8px;
  margin-right: 2em;
  z-index: 5;
  vertical-align: bottom;
}

#testimonials .carousel .item.active {
  background: #F0F9FC 0% 0% no-repeat padding-box;
  border: 0;
}

#testimonials .carousel .item .quote_marker {
  display: none;
}

#testimonials .carousel .item.active .quote_marker {
  display: block;
  position: absolute;
  top: -5em;
  left: 1.75em;
}

#testimonials .carousel blockquote {
  margin: 0
}

#testimonials .carousel blockquote p.quote {
  padding: 7em 3em 1.5em 1.75em;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 1em/var(--unnamed-line-spacing-26) var(--unnamed-font-family-montserrat);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-2e374d);
}

#testimonials .carousel blockquote .citation {
  position: absolute;
  top: 4em;
  left: 2em;
}

#testimonials .carousel blockquote .citation .name {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 1em/var(--unnamed-line-spacing-26) var(--unnamed-font-family-montserrat);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-2e374d);
  margin: 0;
}

#testimonials .carousel blockquote .citation .title {
  font: var(--unnamed-font-style-normal) normal 300 var(--unnamed-font-size-12)/var(--unnamed-line-spacing-64) var(--unnamed-font-family-montserrat);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-2e374d);
  margin: 0 0 0.5em 0;
}

@media screen and (max-width: 769px) {
  #testimonials .carousel {
    width: 100%;
  }

  #testimonials .carousel .nav {
    width: 100%;
    display: block;
  }

  #testimonials .carousel .buttons, .indicators {
    display: none;
  }

  #testimonials .carousel .item {
    width: 100%;
    margin-bottom: 1em;
  }

  #testimonials .carousel .item.active {
    background: #fff 0% 0% no-repeat padding-box;
    border: 1px solid #CCE3FF;
  }

  #testimonials .carousel .item.active .quote_marker {
    display: none;
  }
}


/*******************************************************************************
* FAQs
*******************************************************************************/
#faqs {
  background: #F8F9FC 0% 0% no-repeat padding-box;
  border-radius: 4px;
  padding-bottom: 4vh;
}

#faqs h2 {
  margin: 0;
}

#faqs button {
  border: 1px solid #D5DEFF;
  border-radius: 4px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/1em ProximaNova;
  text-align: left;
  letter-spacing: 0.22px;
  color: #575E72;
  padding: 8px 16px 7px 16px;
  margin-right: 1em;
}

#faqs dt, #faqs dd {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 16px/19px ProximaNova;
}

#faqs dt, #faqs  dd {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #D5DEFF;
  border-radius: 4px;
  padding: 1.5em;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin-left: 0;
  margin-bottom: 1em;
}

#faqs dt + dd {
  display: none;
  opacity: 0%;
  transition: opacity 10s;
}

#faqs dt.active {
  border-bottom: 0px;
  border-radius: 4px 4px 0 0;
  letter-spacing: 0.26px;
  font-weight: bold;
  margin-bottom: 0;
}

#faqs dt .expand {
  display: block;
}

#faqs dt .collapse {
  display: none;
}

#faqs dt.active .expand {
  display: none;
}

#faqs dt.active .collapse {
  display: block;
}

#faqs dt.active + dd {
  display: block;
  border-top: 0px;
  border-radius: 0 0 4px 4px;
  padding-right: 25%;
  opacity: 100%;
}

#faqs .status-indicators {
  width: 24px;
}

#faqs .status-indicators img {
  width: 100%
}

@media screen and (max-width: 769px) {
  #faqs .status-indicators {
    width: 18px;
    margin-left: 0.5em;
  }
}
